<!doctype html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <meta charset="UTF-8">

    {% block head %}
    
    {% endblock %}
</head>

<body style="background-color: #e0e5ec ;">


    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% set latest_message = messages | last %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ latest_message[1] }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    {% endif %}
    {% endwith %}

    </div>

    <div class="container">

        {% block body %}
        {% endblock %}
    </div>

</body>
<footer class="footer">
    <div class="py-3 bt-0">
        <p class="text-blue" style="text-align: center; width:100%;">Music App Copyright © 2023. All rights reserved.
            <a href="https://forms.gle/k6w4pbxTdBWd7Jww5" target="_blank">Provide Your Feedback / Contact Avinash</a>
        </p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!-- Include Bootstrap CSS and JS -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>


</body>